Build/Intermediate/kernel_entry.o
Build/Intermediate/kernel_size.inc
Build/Intermediate/kernel.bin
Build/Intermediate/kernel.o
Build/Intermediate/keyboard.o
Build/Intermediate/mbr.bin
Build/Out/os_image.bin